.card {
    width: 250px;
    height: 325px;
    background-color: white;
    border: 1px solid black;
    margin-left: 125px;
    margin-top: 100px;
}
body {
    background-color: darkblue;

}

h3 { color: darkblue;
    text-align: center;

}